.header {
  width: 100%;
  height: 170px;
  box-shadow: 0 1px 1px lightgray;
  margin-bottom: 1px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;


  background-color: whitesmoke;
  .header-banner {
    width: 100%;
    height: 60px;
    background-color: red;


    img {
      width: 100%;
      height: 60px;
      object-fit: cover;
    }
  }
  .header-search {
    width: 100%;
    height: 70px;
    display: flex;
    .search-left {
      width: 25%;
      height: inherit;
      display: flex;
      justify-content: flex-end;
      margin-left: 25px;
      align-items: center;
      .serch-left-left-link {
        display: inline-block;
        width: 125px;
        height: 35px;
        border: 1px solid #e8e8e9;
        border-radius: var(--border-radious);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        column-gap: 5px;
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-family: var(--font-family);
        font-weight: bold;
        .search-left-left-link-divider {
          width: 1.2px;
          height: 12px;
          background-color: black;
        }
      }
      .search-left-left-link-divider-2 {
        width: 1px;
        height: 20px;
        background-color: lightgray;
        margin-right: 20px;
      }
      img {
        margin-right: 15px;
      }
    }
    .search-right {
      width: 75%;
      height: inherit;
      display: flex;
      .right-logo {
        width: 20%;
        height: inherit;

        img {
          width: 195px;
          height: 30px;
          margin-top: 20px;
          margin-right: 20px;
        }
      }
      .right-find {
        width: 80%;
        height: inherit;
        display: flex;
        justify-content: flex-start;

        .right-find-input {
          width: 500px;
          height: 40px;
          margin-top: 15px;
          border: 1px solid lightgray;
          border-radius: 8px;
          padding-right: 30px;
          margin-right: 30px;
          background-color: #f0f0f1;
          font-size: 12px;
          font-family: var(--font-family);
        }
      }
    }
  }
  .header-menu {
    width: 100%;
    height: 40px;
    display: flex;
   

    .right {
      width: 85%;
      height: inherit;

      .right-nav {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: rown wrap;
        padding-right: 30px;
        column-gap: 15px;
        display: flex;
        align-items: center;
        flex-flow: row wrap;

        .right-nav-item {
          width: fit-content;
          height: inherit;
          &:hover {
            .submenu {
              display: block;
            }
          }

          .right-nav-item-link {
            display: block;
            width: fit-content;
            height: fit-content;
            color: gray;
            font-size: 11px;
            line-height: 40px;
            text-decoration: none;
            display: flex;
            align-items: center;
            column-gap: 5px;
            font-family: var(--font-family);
            position: relative;
            overflow: hidden;
            .right-nav-item-link-line {
              position: absolute;
              background-color: red;
              width: 100px;
              height: 2px;
              left: -200%;
              bottom: 0%;
              transition: 300ms;
            }
            &:hover .right-nav-item-link-line {
              left: 0;
            }
          }
        }
      }
    }
    .left {
      width: 15%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      margin-left: 25px;

      .left-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(82, 80, 80);
        font-size: 11px;
        font-family: var(--font-family);
        column-gap: 4px;
      }
    }
  }
}
.boldFirstItemMenuLink {
  font-size: 14px !important;
  color: black !important;
  &:hover ~ .submenu {
    display: block !important;
  }
  .active{
    display: block !important;
  }
}
.right-nav-item-divider {
  width: 1px;
  height: 15px;
  background-color: lightgray;
}
.changescale {
  transform: scale(0.8, 0.8);
}

.Position-header {
  position: fixed;
  top: 0%;
  bottom: 100%;
}
.right-nav-item-link {
  ::after {
    contain: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 25px;
  }
}
.submenu {
  width: 60vw;
  height: 70vh;
  background-color: white;
  position: absolute;
  display: none;
  z-index: 6;
  transition: 300ms;
  .submenu-right {
    width: 20%;
    height: 100%;
    background-color: lightgray;
    overflow: auto;
    direction: ltr;
    text-align: center;
    .submenu-right-item {
      width: 100%;
      height: 40px;
      .submenu-right-item-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        text-align: center;
        font-family: var(--font-family);
        font-size: 11px;

        line-height: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        color: #414445;
        margin-right: 100px;
        column-gap: 5px;
        &:hover {
          cursor: pointer;
          color: red;
          svg{
            fill: red !important;
          }
        }
      }
      .submenu-right-item-link-right {
        width: 80%;
        height: 100%;
        overflow: auto;

        position: absolute;
        left: 0;
        top: 0;
        display: none;

        .submenu-right-item-link-right-first {
          width: 100%;
          height: 30px;

         
          display: flex;
          justify-content: flex-end;
          align-items: center;
          column-gap: 7px;
          h6 {
            font-family: var(--font-family);
            font-size: 13px;
            margin-right: 20px;
            margin-top: 20px;
            color: #8C8DA3;
          }
          img {
            width: 14px;
            height: 14px;
            margin-top: 20px;
          }
        }
        .submenu-right-item-link-right-second {
          width: 100%;
          height: 40px;

          margin-top: 15px;
          display: flex;
          .submenu-right-item-link-right-second-1 {
            width: 25%;
            height: inherit;
            display: flex;
            justify-content: end;
            margin-right: 20px;
            column-gap: 5px;

            h6 {
              font-family: var(--font-family);
              font-size: 11px;
              color: #64646a;
            }
            img {
              width: 15px;
              height: 15px;
              margin-top: 13px;
            }
          }
        }
        .submenu-right-item-link-right-third {
          width: 100%;
          height: 30px;
          margin-top: 20px;
          display: flex;
          .submenu-right-item-link-right-third-1 {
            width: 25%;
            height: 30px;
            font-family: var(--font-family);
            font-size: 10px;
            color: #575768;
          }
        }
      }
      
      &:hover .submenu-right-item-link-right {
        display: block;
        
      }
    }
